body{
    background-image: url(/img/bg.jpg);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.blur{
    position: absolute;
    background-color: rgba(230, 199, 78, 0.4);
    height: 100vh;
    width: 100vw;
}

.card{
    height: 100%;
    width: 100%;
    background-color: rgba(230, 199, 78, 0);
}

.card img{
    height: 180px;
}
@media screen and (max-width: 440px) {
    .card img{
        height: 120px;
    }
}
.card label{
    font-family: 'Benne', serif;
    color: aliceblue;
    font-size: 130%;
    padding-top: 10px;
}
.card form{
    margin-top: 20px;
}

.card form input{
    width: 200px;
    background-color: rgba(191, 153, 0, 0.9);
    border: 0px;
}

.card button {
    margin-top: 25px;
}
.card button a{
    text-decoration: none;
}

.card a{
    font-size: 90%;
}