.article-container{
    background-color: rgba(242, 229, 145, .3);
    padding-bottom: 30px;
}
.card{
    position: relative;
    height: 50vh;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(60deg, white 1%, rgba(191, 153, 0, 1) 99%);
    border: none;
    
}
.imgcarrie {
    height: 50%;
    width: 75%;
    border-radius: 10%;
    margin-top: 15px;
    position: relative;
}
.imgcarrie img{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    object-fit: cover;
    background-size: cover;
    transition: all 500ms ease-out;
    position: absolute;
}
.hover-contenedor{
    position: absolute;
    width: 100%;
    height: 100%;
}
.hover-contenedor a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.hover-contenedor a span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.hover{
    position: absolute;
    background-color: rgba(242, 229, 145, .4);
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.hover-contenedor a span, .hover{
    opacity: 0;
    visibility: hidden;
}
.hover-contenedor:hover > .hover{
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-out;
}
.hover-contenedor:hover > a span{
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-out;
}
.titulo, .subtitulo, .cursiva{
    color: rgba(191, 153, 0, 1);
}
.titulo{
    font-family: 'Benne', serif;
    font-size: 35px;
    margin-top: 20px;
}
.subtitulo{
    font-family: 'Benne', serif;
    font-size: 20px;
}
.cursiva{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}
@media screen and (max-width: 767px){
    .card{
        width: 30%;
    }
    .hover-contenedor a span{
        font-size: 15px;
    }
    
}
@media screen and (max-width: 600px){
    .card{
        width: 60%;
    }
    .hover-contenedor a span{
        font-size: 18px;
    }
}
@media screen and (max-width: 380px){
    .imgcarrie {
        height: 40%;
    }
    .titulo{
        font-size: 30px;
    }
}
/* Color Theme Swatches in RGBA */
.Amarillo-1-rgba { color: rgba(191, 153, 0, 1); }
.Amarillo-2-rgba { color: rgba(204, 163, 0, 1); }
.Amarillo-3-rgba { color: rgba(217, 178, 39, 1); }
.Amarillo-4-rgba { color: rgba(230, 199, 78, 1); }
.Amarillo-5-rgba { color: rgba(242, 229, 145, 1); }

/*(Titles) font-family: 'Dancing Script', cursive;*/
/*(normal text) font-family: 'Benne', serif;*/