*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(230deg, rgba(204, 163, 0, .6) 20%, rgba(191, 153, 0, 0) 80%);    
    height: 10vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nab{
    display: flex;
    justify-content: space-between;
}

.nab a{
    height: 10vh;
}
.nab a img{
    height: 8vh;
    margin-left: 10px;
}

.nab h5{
    font-family: 'Dancing Script', cursive;
    line-height: 10vh;
    font-size: 30px;
    font-weight: bold;
    color: rgba(191, 153, 0, .5);
    width: max-content;
}

.nab ul li{    
    list-style: none;
}

.nab ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(240, 248, 255, 0.637);
    padding: -3px;
    font-family: 'Benne', serif;
    font-size: 9px;
    padding: 3px;
}

.nav-menu{
    display: flex;
    margin-right: 20px;
}

.nab ul li{
    line-height: 10vh;
    width: max-content;
}

.nab ul li:hover{
    background-color: rgba(204, 163, 0, 1);
    transition: 0.5s;
}

.toggle{
    height: 10vh;
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}
.nab button i{
    line-height: 10vh;
    color: rgba(191, 153, 0, 1);
}

@media(max-width: 768px){
    .nab h5{
        font-size: 20px;
        font-weight: lighter;
    }
    .nav-menu{
        flex-direction: column;
        margin: 0px;
        background-image: linear-gradient(230deg, rgba(204, 163, 0, .6) 35%, rgba(191, 153, 0, .1) 65%);
        position: fixed;
        left: 0;
        top: 10vh;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        height: calc(100% - 10vh);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nab ul li{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .nab ul li a:hover{
        background: none;        
    }
    .toggle{
        display: block;
        margin-right: 10px;
    }

    .menu-visible{
        left: 0;
    }
    .toggle:focus:not(:focus-visible){
        outline: none;
    }
}
/* Color Theme Swatches in RGBA */
.Amarillo-1-rgba { color: rgba(191, 153, 0, 1); }
.Amarillo-2-rgba { color: rgba(204, 163, 0, 1); }
.Amarillo-3-rgba { color: rgba(217, 178, 39, 1); }
.Amarillo-4-rgba { color: rgba(230, 199, 78, 1); }
.Amarillo-5-rgba { color: rgba(242, 229, 145, 1); }

/*(Titles) font-family: 'Dancing Script', cursive;*/
/*(normal text) font-family: 'Benne', serif;*/