body{
    background-image: url(/ca_final/img/contact-bg.jpg);
    height: 100Vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.blur{
    background-color: rgba(170, 149, 67, 0.3);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja{
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}
.caja h1{
    font-family: 'Benne', serif;
    color: rgba(191, 153, 0, 1);
    font-weight: bold;
    font-size : 500%;
}
.redireccion span{
    font-family: 'Dancing Script', cursive;
    color: rgba(242, 229, 145, 1);
}
@media screen and (max-width:460px) {
    .caja h1{
        font-size : 300%;
    }
}
/* Color Theme Swatches in RGBA */
.Amarillo-1-rgba { color: rgba(191, 153, 0, 1); }
.Amarillo-2-rgba { color: rgba(204, 163, 0, 1); }
.Amarillo-3-rgba { color: rgba(217, 178, 39, 1); }
.Amarillo-4-rgba { color: rgba(230, 199, 78, 1); }
.Amarillo-5-rgba { color: rgba(242, 229, 145, 1); }

/*(Titles) font-family: 'Dancing Script', cursive;*/
/*(normal text) font-family: 'Benne', serif;*/