*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: rgba(165, 78, 46, 1);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(216, 113, 23, 1);
    height: 10vh;
}

header a{
    text-decoration: none;
}

header h4{
    color: rgba(242, 201, 79, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 0rem;
}
header h4 span{
    font-family: 'Courgette', cursive;
}

header ul{
    margin-bottom: 0rem;
    padding-left: 0rem;
    display: flex;
    justify-content: space-around;
    width: 35%;
}

header ul li{
    list-style: none;
}

header ul li a{
    color: rgba(242, 201, 79, 1);
    font-size: 12px;
}

.burger{
    display: none;
}

.burger div{
    width: 30px;
    height: 4px;
    margin: 5px;
    background-color: rgba(242, 201, 79, 1);
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    
    header ul{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: rgba(216, 113, 23, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translatex(100%);        
    }
    header ul li{
        opacity: 0;
    }
}

/*
                Fonts
    font-family: 'Courgette', cursive;
    font-family: 'Open Sans', sans-serif;
*/

/* Color Theme Swatches in RGBA */
.COLORAMA-1-rgba { color: rgba(242, 87, 115, 1); }
.COLORAMA-2-rgba { color: rgba(242, 201, 79, 1); }
.COLORAMA-3-rgba { color: rgba(242, 183, 75, 1); }
.COLORAMA-4-rgba { color: rgba(216, 113, 23, 1); }
.COLORAMA-5-rgba { color: rgba(165, 78, 46, 1); }