*{
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 10vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.nab{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(10deg, rgba(242, 201, 79, .4), rgba(255, 255, 255, 0.3));
}

.nab a{
    height: 10vh;
}
.nab a img{
    height: 10vh;
    margin-left: 10px;
}

.nab h5{
    font-family: 'Courgette', cursive;
    line-height: 10vh;
    font-size: 30px;
    font-weight: lighter;
    color: rgba(242, 201, 79, 1);
    width: max-content;
}

.nab ul li{    
    list-style: none;
}

.nab ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: -3px;
    font-family: 'Benne', serif;
    font-size: 13px;
    padding: 3px;
    transition: 1.5s;
}
.hovercontenedor{
    position: relative;
}

.submenu{
    position: absolute;
    padding-inline-start: 0px;
    list-style: none;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    background-image: linear-gradient(10deg, rgba(251, 211, 92, 0.719), rgba(252, 253, 174, 0.3));
    height: auto;
}

.nav-menu{
    display: flex;
    margin-right: 20px;
}

.nab ul li{
    line-height: 10vh;
    width: max-content;
}

.nab ul li a:hover{
    color: black;
}

.toggle{
    height: 10vh;
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}
.nab button i{
    line-height: 10vh;
    color: rgba(242, 201, 79, 1);
}

@media(min-width: 1024px){
    .submenu{
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition-timing-function: ease-in;
    }

    .hovercontenedor:hover .submenu{
        opacity: 1;
        visibility: visible;
        transform: translatex(-50px);
    }

    .submenu li{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width: 1020px){
    .submenu{
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition-timing-function: ease-in;
    }

    .hovercontenedor:hover .submenu{
        opacity: 1;
        visibility: visible;
        transform: translatex(-50px);
    }

    .submenu li{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 768px){
    .nab h5{
        font-size: 20px;
        font-weight: lighter;
    }
    .nav-menu{
        flex-direction: column;
        margin: 0px;
        position: fixed;
        left: 0;
        top: 10vh;
        width: 100%;
        align-items: center;
        padding: 20px 0;
    
        height: 90vh;
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nab ul li{
        display: flex;
        justify-content: center;
    }
    .nab ul li a:hover{
        background: none;      
    }
    .nab ul li a{
        font-size: 16px;
    }
    .toggle{
        display: block;
        margin-right: 10px;
    }

    .menu-visible{
        left: 0;
    }
    .toggle:focus:not(:focus-visible){
        outline: none;
    }
    .nab a img{
        height: 7vh;
        margin-left: 10px;
    }






    .submenu{
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition-timing-function: ease-in;
        top: 100%;
        width: 97vw;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }

    .hovercontenedor:hover .submenu{
        opacity: 1;
        visibility: visible;
        transform: translatex(0px);
        transform: translateY(-20%);
    }

    .submenu li{
        text-align: center;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*
                Fonts
    font-family: 'Courgette', cursive;
    font-family: 'Open Sans', sans-serif;
*/

/* Color Theme Swatches in RGBA */
.COLORAMA-1-rgba { color: rgba(242, 87, 115, 1); }
.COLORAMA-2-rgba { color: rgba(242, 201, 79, 1); }
.COLORAMA-3-rgba { color: rgba(242, 183, 75, 1); }
.COLORAMA-4-rgba { color: rgba(216, 113, 23, 1); }
.COLORAMA-5-rgba { color: rgba(165, 78, 46, 1); }