*{
    margin: 0;
    padding: 0;
}

.cuerpo{
    margin-top: 10vh;
    background-image: linear-gradient(60deg, white 1%, rgba(191, 153, 0, 1) 99%);
    background-size: cover;
    object-fit: cover;
    min-height: 82vh;
    padding:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.cartasgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 10px;
}
.item{
    position: relative;
    display: flex;
    justify-content: center;
}

.item img{
    width: 100%;
    object-fit: cover;
    background-size: cover;
    padding-bottom: 20px;
}
.item h3{
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: rgba(75, 75, 75,1);
    width: 100%;
    color: rgba(191, 153, 0, 1);
    font-family: 'Benne', serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


/* Color Theme Swatches in RGBA */
.Amarillo-1-rgba { color: rgba(191, 153, 0, 1); }
.Amarillo-2-rgba { color: rgba(204, 163, 0, 1); }
.Amarillo-3-rgba { color: rgba(217, 178, 39, 1); }
.Amarillo-4-rgba { color: rgba(230, 199, 78, 1); }
.Amarillo-5-rgba { color: rgba(242, 229, 145, 1); }

/*(Titles) font-family: 'Dancing Script', cursive;*/
/*(normal text) font-family: 'Benne', serif;*/