.cuerpo{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 81vh;
    background-image: linear-gradient(60deg, white 1%, rgb(206, 177, 62) 99%);
}
.cuerpo2{
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap:10px;
    padding: 15px;
    height: fit-content;
}

.carta{
    position: relative;
    height: fit-content;
}
.carta img{
    object-fit: cover;
    background-size: cover;
    height: 300px;
    
    width: 100%;
}
.carta h5{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #373c46;
    color: rgba(191, 153, 0, 1);
    font-family: 'Benne', serif;
    padding: 5px;
}

/* Color Theme Swatches in RGBA */
.Amarillo-1-rgba { color: rgba(191, 153, 0, 1); }
.Amarillo-2-rgba { color: rgba(204, 163, 0, 1); }
.Amarillo-3-rgba { color: rgba(217, 178, 39, 1); }
.Amarillo-4-rgba { color: rgba(230, 199, 78, 1); }
.Amarillo-5-rgba { color: rgba(242, 229, 145, 1); }

/*(Titles) font-family: 'Dancing Script', cursive;*/
/*(normal text) font-family: 'Benne', serif;*/